<% if article.blog %>
	<h4>From <%= link_to article.user.nick, article.user %>'s <%= link_to article.blog.short_name, blog_path_for(article.blog) %> Blog</h4>
<% end %>
	<h3><%= link_to article.title, article_path(article.to_path) %></h3>
	<p class="articleContent">
	<% unless (without_picture ||= false) %>
		<%= picture_for(article, :with => { :class => 'smallPic' }) %>
		<%= caption_for(article.primary_picture) %>
	<% end %>
		<%= format_article(article, :truncate => 500, :without_intro => true) %></p>
	</p>
	<%= byline_for article %>
