<% content_tag_for(html_tag ||= :li, message, :class => (message.read? || (message.recipient != get_viewer) ? 'message-read' : 'message-unread')) do %>

	<span class="message-timestamp timestamp" id="<%= dom_id(message) %>-timestamp">
		<%= message.created_at.to_s(message.created_at.year == Time.zone.now.year ? :this_year : :not_this_year) %>
	</span>
	<% if message.sender == get_viewer %>
		<%= picture_for(message.recipient, :with_text => true, :link => true) %>
	<% else %>
		<%= picture_for(message.sender, :with_text => true, :link => true) %>			
	<% end %>
	
	<% unless (no_title ||= false) %>
		<%= link_to message.subject, message, :class => 'message-subject' %><br />
	<% end %>
	<%= (full_text ||= false) ? format_message(message) : truncate(message.body, :length => 60) %>
	<%# TODO: Need timestamp too. -%>
<% end %>