<% content_tag_for :li, comment, prefix ||= nil do %>
	<span class="comment-inner">
		<a name="comment-<%= comment.scoped_id %>"></a>
		<%= picture_for(comment.user, :prefix => "comment-#{comment.id}", :type => :thumb) %>
		<span>
			<%= comment.body %>
			<%= byline_for comment %>
		</span>
		<ul class="commentActions">
		
		</ul>
	</span>
	<%= br_clear %>
<% end %>