<% content_tag_for :li, comment, prefix ||= nil, :class => (comment.deleted? ? 'deleted' : nil) do %>
	<% if get_viewer && get_viewer.admin? %>
		<!-- Comment ID: <%= comment.id %> -->
	<% end %>
	<div class="shim top shim-top"></div>
	<a name="comment-<%= comment.scoped_id %>"></a>
	<div class="comment-inner">
		<%= picture_for(comment.user, :class => 'User', :prefix => "comment-#{comment.id}", :type => :thumb, :link => user_path(comment.user), :text => comment.scoped_id) %>
		<ul class="commentActions">
		<% if comment.commentable.editable_by?(get_viewer) %>
			<li>
				<%= link_to 'X', comment_path_for(comment), :method => :delete, :class => 'commentAction' %>
			</li>
		<% end %>
		</ul>
		<div class="commentMain">
			<%= byline_for(comment) %>
			<p class="references"><% if !comment.reference_ids.empty? %><%= comment.reference_ids.map{|id| "@#{id}"}.join(' ') %> | <% end %><span class="repliesCount" id="comment-<%= comment.id %>-repliesCount"><%= pluralize(comment.replies_count, 'response') %></span></p>
			<%= format_comment(comment) %>
		</div>		
	</div>
	<div class="shim bottom shim-bottom"></div>
<% end %>