<% div_for article do -%>
	<% if @blog.blank? && article.blog %>
		<h4 class="descriptor">From <%= link_to article.user.nick, article.user %>'s <%= link_to article.blog.short_name, blog_path_for(article.blog) %> Blog</h4>
	<% end %>
	<h3><% unless article.published? %>DRAFT: <% end %><%= link_to article.title, article_path_for(article) %></h3>

	<% if !(without_picture ||= false) && article.primary_picture %>
		<a href="<%= @article ? '#' : article_path_for(article) %>" class="article_picture_link">
			<%= picture_for(article, :type => :feature, :with => { :class => 'smallPic' }) %>
			<%= caption_for(article.primary_picture) %>
		</a>
	<% end %>
		<%= format_article(article, :truncate => (!without_picture && article.primary_picture ? 400 : 500), :without_intro => true) %></p>

	<%= byline_for article %>
<% end -%>