<% div_for @article do -%>
	<% if @article.primary_picture %>
		<a href="#" class="article_picture_link">
			<%= picture_for(@article) %>
			<%= caption_for(@article.primary_picture) %>
		</a>
	<% end %>
		<%= format_article(@article) %>
		<%= byline_for(@article) %>
		
		<%= render :partial => 'articles/actions', :locals => { :article => @article } %>
<% end -%>	
<br /><br />
<%= render :partial => 'articles/comments' if @article.published? %>
