<h3>Author</h3>
<%= link_to(picture_for(user), user, :title => user.name_and_nick, :class => 'articleAuthorLink') if user.primary_picture %>
<h4><%= user.name_and_nick %></h4>
<p>
	Blogs: <%= user.blogs.count %><br />
	Articles: <%= user.articles.count %></p>
<%= br_clear %>