<h2><%= @article.title %></h2>
<p>
	<%= image_tag(@article.primary_picture.public_filename, :class => 'articlePic') if @article.primary_picture %>
	<%= @article.content %>
</p>
<em>Published at <%= @article.published_at %></em>

<br /><br />
<%= render :partial => 'comments/comment', :layout => 'comment', :collection => @article.comments %>
<br />
<%= render :partial => 'comment_form' %>
