<% set_meta_keywords!(@user.name_and_nick) -%>
<% set_link_author!(@user) -%>
<% add_style_file(@layoutable.skin_file) -%>
<% content_for :header do -%>
<div class="msm_row">
	<div class="msm_column msm_column-a">
		<span class="timestamp">updated by <%= @user.display_name %> at <%= @user.updated_at.to_s %></span>
		<h2><%= @user.name_and_nick %></h2>				
	</div>
	<div class="msm_column msm_column-b">
		
	</div>
</div>
<% end -%>	

<div class="last msm_row" id="msm_row-1">
	<%= render :partial => 'edit' %>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :pictures %>
		<%= framed.wrender :google_ads %>
	<% end %>
<% end -%>