<% set_meta_keywords!(@user.name_and_nick, 'friends') -%>
<% set_link_author!(@user) -%>

<% content_for :header do -%>
	<div class="msm_column msm_column-a">
		<span class="timestamp">updated by <%= @user.display_name %> at <%= @user.updated_at.to_s %></span>
		<h2><%= @page_title %></h2>				
	</div>
	<div class="msm_column msm_column-b">
		
	</div>
<% end -%>	

<div class="last msm_row" id="msm_row-1">
<% @friends.each do |friend| %>
	<div class="friend" id="friend-<%= friend.id %>">
		<%= render :partial => 'user', :object => friend %>
		<%= br_clear %>
	</div>
<% end %>
</div>

<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :user %>
		<%= framed.wrender :google_ads %>
	<% end %>
<% end -%>