<% add_meta_keyword!('colin') -%>
<% set_link_author!(@user) -%>
<% add_style_file('users/msm') %>
<div id="msm_layout" class="msm_layout">
	<div id="msm_main_column" class="msm_column">
		<div class="msm_row">
			<div id="msm_main_header">
				<span class="timestamp">updated by colin at 9:00am PST</span>
			</div>
	
			<div class="msm_main_column-a msm_column nopad">
				<%= wrender :kind => :lead, :layout => :lead_widget %>
			</div>
	
			<div class="msm_main_column-b msm_column">
				<%= wrender :latest_articles, :collection => @widgets[0..3] %>
				<%= wrender :upcoming_events %>
			</div>
		</div>
		
		<div class="msm_row">
			<div class="msm_main_column-ab msm_column">
				<%= wrender :rss_item, :layout => :none,
										:url => 'http://cdmjimmy.blogspot.com/feeds/posts/default?alt=rss' %>
				<%= @wcount %>
			</div>
		</div>
		
		<div class="msm_row nobg">
			<div class="msm_main_column-a msm_column">
				<%= wrender :without_picture => true %>
			</div>
			
			<div class="msm_main_column-b msm_column">
				<%= wrender :entries, :outer => { :class => "msm_main_column" }, :layout => :framed %>
			</div>
		</div>
		
		<div class="msm_row">
			<div class="msm_main_column-ab msm_column">
				<%= wrender %>
			</div>
		</div>
	</div>
	
	<div id="msm_side_column" class="msm_column">
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :friends %>
		<%= framed.wrender %>
		<%= framed.wrender :google_ads %>
		<%= framed.wrender :latest_pictures, :collection => @user.owned_pictures[0..5] %>
		<%= framed.wrender :comments %>		
	<% end %>
	</div>
	<div id="msm_footer">
	
	</div>
</div>