<% add_meta_keyword!(@user.name_and_nick) -%>
<% set_link_author!(@user) -%>
<% add_style_file(@layoutable.skin_file) -%>
<div id="msm_layout" class="msm_layout">
	<div id="msm_main_column" class="msm_column">
		<div class="msm_row" id="msm_row-1">
			<div id="msm_main_header">
				<span class="timestamp">updated by colin at 9:00am PST</span>
			</div>
	
			<div class="msm_main_column-a msm_main_column nopad">
				<%= wrender :kind => :lead, :layout => :lead_widget %>
			</div>
	
			<div class="msm_main_column-b msm_main_column">
				<%= wrender :latest_articles, :collection => @widgets[0..3] %>
				<%= wrender :upcoming_events %>
			</div>
			<%= br_clear %>
		</div>
		
		<div class="msm_row" id="msm_row-2">
			<div class="msm_main_column">
				<%= wrender :rss_item,
										:url => 'http://cdmjimmy.blogspot.com/feeds/posts/default?alt=rss' %>
			</div>
			<%= br_clear %>
		</div>
		
		<div class="msm_row nobg" id="msm_row-3">
			<div class="msm_main_column-a msm_main_column">
				<%= wrender :without_picture => true %>
			</div>
			
			<div class="msm_main_column-b msm_main_column nopad">
				<%= wrender :entries, :outer => { :class => "msm_main_column" }, :layout => :framed %>
			</div>
			<%= br_clear %>
		</div>
		
		<div class="msm_row" id="msm_row-4">
			<div class="msm_main_column-ab msm_main_column">
				<%= wrender %>
			</div>
			<%= br_clear %>
		</div>
	</div>
	
	<div id="msm_side_column" class="msm_column">
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :friends %>
		<%= framed.wrender %>
		<%= framed.wrender :google_ads %>
		<%= framed.wrender :latest_pictures, :collection => @user.owned_pictures[0..5] %>
		<%= framed.wrender :comments %>		
	<% end %>
	</div>
	<div id="msm_footer">
	
	</div>
</div>