<% form_for @user, :html => { :multipart => true, :class => 'userForm stdForm'} do |f| %>
	<%= error_messages_for :user %>
	<fieldset>
		<legend>Edit Profile</legend>
		<table>
			<%= render :partial => 'users/form', :layout => 'edit_form', :locals => { :f => f } %>
			<%= render :partial => 'shared/layout_form', :locals => { :f => f } %>
		</table>
		<%= submit_tag "Update", :disable_with => "Please wait..." %>
	</fieldset>
<% end %>

<%= render :partial => 'users/edit_password' %>

<%= cancel_button %>
<%= br_clear %>