<%= add_behavior('#user_nick', 'NickUpdatesForm') %>
<tr>
	<th><%= f.label :nick %></th>
	<td>
		<%= f.text_field :nick %>
		<%= info_box_for @user, :nick, %{3-20 alphanumerics or underscore, begin with letter} %>
	</td>
</tr>
<%= render :partial => 'password_form', :locals => { :f => f } %>
<tr>
	<th><%= f.label :email %></th>
	<td>
		<%= f.text_field :email %>
		<%= info_box_for @user, :email, "Verifiable address" %>
	</td>
</tr>
<%= yield %>