<tr>
	<th><%= f.label :password %></th>
	<td class="input"><%= f.password_field :password %></td>
	<td><%= info_box_for @user, :password, "Between 6 to 30 characters" %></td>
</tr>
<tr>
	<th><%= f.label :password_confirmation, "Re-type Password" %></th>
	<td class="input"><%= f.password_field :password_confirmation %></td>
	<td><%= info_box_for @user, :password_confirmation, "Enter the same password again" %></td>
</tr>
