<div class="sub navigation">
	<ul class="navigationList">
		<%= bread_el "Users", users_path, :current => true if @user.nil? || @user.new_record? %>
		<%= bread_el @user.nick, @user, :current => %w(show).include?(controller.action_name) unless @user.nil? || @user.new_record? %>
		<%= bread_el "Preferences", edit_user_path(@user), :current => true if controller.action_name == 'edit' %>
	<% if @user && !@user.new_record? && controller.action_name != 'edit' %>
		<%= subnavi_el "Blogs", user_blogs_path(@user) %>	
		<%= subnavi_el "Thoughtlets", user_thoughtlets_path(@user) %>
		<%= subnavi_el "Events", user_events_path(@user) %>
		<%= subnavi_el "Galleries", user_galleries_path(@user) %>
	<% end %>
<% if logged_in? && @user && !@user.new_record? %>
		<%= subnavi_el "Message", new_message_path(:recipient => @user), :conditions => !this_is_viewer? %>		
	<% if viewer.friends_with?(@user) %>
		<%= subnavi_el "Unfriend", unfriend_user_path(@user), { :method => :put } %>
	<% elsif @viewer != @user && !@viewer.kinda_friends_with?(@user) %>
		<%= subnavi_el "Request Friendship", befriend_user_path(@user), { :method => :put } %>
	<% end %>
<% end %>
	<%= navi_skin_info %>
	<%= navi_customize(user_widgets_path(@user.to_path(true))) if @user && @user.editable_by?(viewer) %>
	</ul>
</div>
