<div class="sub navigation">
	<ul class="navigationList">
		<%= bread_el @user.nick, @user, :current => %w(show).include?(controller.action_name) %>
		<%= bread_el "Preferences", edit_user_path(@user), :current => true if controller.action_name == 'edit' %>
		<%= bread_el "Friends", friends_user_path(@user), :current => true if controller.action_name == 'friends' %>
	<% if @user && !@user.new_record? %>
		<%= subnavi_el "Friends", friends_user_path(@user) unless controller.action_name == 'friends' %>
		<%= subnavi_el "Blogs", user_blogs_path(@user) %>	
		<%= subnavi_el "Articles", articles_path(@user) %>
		<%= subnavi_el "Thoughtlets", user_thoughtlets_path(@user) %>
		<%= subnavi_el "Events", user_events_path(@user) %>
		<%= subnavi_el "Galleries", user_galleries_path(@user) %>
	<% end %>
<% if logged_in? && @user && !@user.new_record? %>
		<%= subnavi_el "Message", new_message_path, :conditions => !this_is_viewer? %>		
	<% if viewer.friends_with?(@user) %>
		<%= subnavi_el "Unfriend", unfriend_user_path(@user), { :method => :put } %>
	<% elsif @viewer != @user && !@viewer.kinda_friends_with?(@user) %>
		<%= subnavi_el "Request Friendship", befriend_user_path(@user), { :method => :put } %>
	<% end %>
		<%= navi_skin_info %>
		<%= navi_customize(user_widgets_path(@user.to_path(true))) %>
<% end %>
	</ul>
</div>
