<%# link_to(picture_for(user), user, :title => user.name_and_nick, :class => 'userLink') if user.primary_picture %>
<%= picture_for(user, :link => true, :with_text => true, :type => :thumb) %>
<h4><%= user.full_name %></h4>
<p>
	Blogs: <%= user.blogs.count %><br />
	Articles: <%= user.articles.count %><br />
	
	<ul class="social_networks" id="user-<%= user.id %>-social_networks">
		<%= social_network_el(:facebook, user) %>
		<%= social_network_el(:linkedin, user) %>
		<%= social_network_el(:myspace, user) %>
		<%= social_network_el(:aim, user) %>
		<%= social_network_el(:msn, user) %>
		<%= social_network_el(:yim, user) %>
		<%= social_network_el(:twitter, user) %>
	</ul>
</p>
<%= br_clear %>
