<% form_for :user, @user, :html => { :id => 'login-form', :class => 'stdForm' } do |f| %>
	<fieldset>
		<legend>Login</legend>
		<table>
			<tr>
				<th><%= f.label :nick %></th>
				<td>
					<%= f.text_field :nick %>
					<%= info_box_for @user, :nick %>
				</td>
			</tr>
			<tr>
				<th><%= f.label :password %></th>
				<td>
					<%= f.password_field :password %>
					<%= info_box_for @user, :password %>
				</td>
			</tr>
		</table>
		<%= f.submit 'Login', :disable_with => 'Please wait...' %>
	</fieldset>
<% end %>
