<% add_meta_keyword!('colin') -%>
<% set_link_author!(@user) -%>
<% add_style_file('users/msm') %>
<div id="msm_layout" class="msm_layout">
	<div id="msm_main_column" class="msm_column">
		<div class="msm_main_column-inner">
			<div id="msm_main_header">
				<span class="timestamp">updated by colin at 9:00am PST</span>
			</div>
	
			<div class="msm_main_column-a msm_column nopad">
				<div id="msm_lead_widget" class="msm_module">
				<% if lead_widget = @widgets.shift -%>
					<% if lead_widget.primary_picture -%>
						<%= link_to image_tag(lead_widget.primary_picture.file_path, :class => 'msm_lead_picture article-picture'), widgetable_path_for(lead_widget.widgetable) %>
						<strong><%= lead_widget.primary_picture.caption %></strong>
					<% end %>
						<h2><%= link_to lead_widget.wid_name, widgetable_path_for(lead_widget.widgetable) %></h2>
						<p><%= format_article(lead_widget.widgetable, :truncate => 300, :without_intro => true) %></p>
						<%= byline_for lead_widget.widgetable %>
						<% content_tag(:ul, :id => 'msm_lead_follow_ups') do -%>
							<% lead_widget.widgetable.find_similar(3).each do |similar| -%>
								<li><%= link_to similar.name, similar %></li>
							<% end -%>
						<% end if !lead_widget.widgetable.tags.empty? -%>
				<% end -%>
				</div>
			</div>
	
			<div class="msm_main_column-b msm_column">
				<div class="msm_module">
					<h3>Latest News</h3>
					<% content_tag(:ul, :id => 'msm_other_main_widgets') do -%>
						<% @widgets.slice!(0, 3).each do |wid| -%>
							<li>
								<span>
									<% if ((blog = wid.widgetable.blog) rescue false) %><span class="articleBlog"><%= blog.name %>:</span><% end %>
									<%= link_to wid.wid_name, widgetable_path_for(wid.widgetable) %>
									<br />
									<%= render :partial => wid.wid_partial(@user.layout_path, :line), :object => wid.widgetable %>
								</span>
							</li>
						<% end -%>
					<% end if !@widgets.empty? -%>
				</div>

				<div class="msm_module">
					<h3>Upcoming Events</h3>
					<ul>
						<%= render :partial => 'events/event', :collection => @events %>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="msm_main_column-inner">
			<div class="msm_main_column-ab msm_column">
			<%# FIXME: THIS IS DONE SO I DONT HAVE TO WAIT FOR RSS CONNECTION EACH TIME %>
			<% if true %>
				<h3><span class="articleBlog">RSS:</span>From <a href="http://cdmjimmy.blogspot.com/">[Something Witty]</a> by <a href="#">James</a></h3>
								<h4><a href="http://cdmjimmy.blogspot.com/2008/03/in-two-weeks-and-two-days.html">In Two Weeks And Two Days,</a></h4>
								<p class="articleContent">
									I'll be home, in California again.<a href="http://bp3.blogger.com/_lUeWypH_FWU/R92LQm8y8rI/AAAAAAAAAsw/VXWEKrqjpgo/s1600-h/Huntington+Beach.jpg"><img src="http://bp3.blogger.com/_lUeWypH_FWU/R92LQm8y8rI/AAAAAAAAAsw/VXWEKrqjpgo/s320/Huntington+Beach.jpg" alt="" /></a>Not for good mind you, but it will be for the longest period since I left. A psuedo-vacation, if you will, since I'll be working at UCLA by day, and gallivanting around my old stomping grounds at night.I'm shocked, really. I can't believe I'm leaving. While I never felt completely comfortable <a href="http://cdmjimmy.blogspot.com/2008/03/when-i-grow-up.html">here</a>, I managed to find less and less to complain about-- some might even call it "adjusting." My experiences ranged from the mundane to the absurd, and while I never want to come back-- well, you can insert your favorite "life lessons" cliché [here]. Take a look at <a href="http://cdmjimmy.blogspot.com/2007/07/oil-and-water.html">one</a> of my first entries in T...
								</p>
								<small>
					by: <a href="#">James</a> | 
					Sun, 16 Mar 2008 14:07:00 -0700 | 
					<a href="http://cdmjimmy.blogspot.com/2008/03/in-two-weeks-and-two-days.html">Source</a>
				</small>
			<% else %>
				<% feed_item = parseFeed('http://cdmjimmy.blogspot.com/feeds/posts/default?alt=rss') %>
				<h3><span class="articleBlog">RSS:</span>From <%= link_to feed_item.feed_title, feed_item.feed_link %> by <%= link_to feed_item.item_author, '#' %></h3>
				<h4><%= link_to feed_item.item_title, feed_item.item_link %></h4>
				<p class="articleContent">
					<%= truncate sanitize(feed_item.item_content, :tags => %w(a img)), 1000 %>
				</p>
				<%= byline_for feed_item %>
			<% end %>
			</div>
		</div>
		
		<div class="msm_main_column-inner nobg">
			<div class="msm_main_column-a msm_column">
				<h3>From caleon's <a href="#">WORLD</a></h3>
				<h4>History of Middle East in 10 minutes</h4>
				<p class="articleContent">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			
			<div class="msm_main_column-b msm_column msm_module">
				<div class="msm_module-inner">
					<h3>Thoughtlets</h3>
					<ul>
						<%= render :partial => 'entries/entry', :collection => @user.entries.find(:all, :limit => 5) %>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="msm_main_column-inner">
			<div class="msm_main_column-ab msm_column">
				Blah
			</div>
		</div>
	</div>
	
	<div id="msm_side_column" class="msm_column">
		<div class="msm_module">
			<div class="msm_module-inner">
				<h3>Friends</h3>
				<ul id="msm_friends" class="msm_media">
					<%= render :partial => 'users/friend', :collection => @user.friends, :locals => { :tag => :li } %>
				</ul>
				<div class="msm_module-footer">
					<%= link_to 'View all Friends', friends_user_path(@user) %>
				</div>
			</div>
		</div>

		<div class="msm_module">
			<div class="msm_module-inner">
				<h3>MacRumors Feed</h3>
				<p class="feed">
					Apple has released a new security update for Mac OS X . Apple provides a support document detailing the changes
					Security Update 2008-002 is recommended for all users and improves the security of Mac OS X. Previous security updates have been incorporated into this security update.
					<br /><br />
					The update is available via Software Update or from the Apple Downloads page in the following versions:
					<br /><br />
					- 10.5.2: Universal (50 MB)<br />
					- 10.4.11: PPC (68 MB)<br />
					- 10.4.11: Universal (103 MB)<br />
					<br /><br />
					- 10.5.2 Server: Universal (108 MB)<br />
					- 10.4.11 Server: PPC (82 MB)<br />
					- 10.4.11 Server: Universal (107 MB)<br />
				</p>
			</div>
		</div>
		
		<div class="msm_module">
			<div class="msm_module-inner">
				<h3>Google Ads</h3>

			</div>
		</div>
		
		<div class="msm_module">
			<div class="msm_module-inner">
				<h3>Travel Gallery</h3>
				<ul id="msm_pictures" class="msm_media">
				<% Picture.find(:all).select{|pic| pic.public_filename rescue false }[0..5].each do |pic| %>
					<li class="pic"><%= link_to image_tag(pic.public_filename, :class => 'picPic'), picture_path_for(pic) %></li>
				<% end %>
				</ul>
				<div class="msm_module-footer">
					<%= link_to 'View all Pictures', '#' %>
				</div>
			</div>
		</div>
		
		<div class="msm_module">
			<div class="msm_module-inner">
				<h3>Comments</h3>
				<%= render :partial => 'comments/comment', :collection => @user.comments %>
				<%= render :partial => 'comment_form' %>
			</div>
		</div>
		
	</div>
	<div id="msm_footer">
	
	</div>
</div>