<% add_meta_keyword!('colin') -%>
<% set_link_author!(@user) -%>
<% add_style_file('users/msm') %>
<div id="msm_layout" class="msm_layout">
	<div id="msm_main_column">
	
		<div id="msm_main_header">

		</div>
	
		<div id="msm_main_column-a">
			<div id="msm_lead_widget">
			<% if lead_widget = @widgets.shift -%>
				<% if lead_widget.primary_picture -%>
					<%= link_to image_tag(lead_widget.picture.file_path, :class => 'msm_lead_picture'), widgetable_path_for(lead_widget.widgetable) %>
					<strong><%= lead_widget.primary_picture.caption %></strong>
					<h2><%= link_to lead_widget.wid_name, widgetable_path_for(lead_widget.widgetable) %></h2>
					<p><%= truncate(lead_widget.wid_content, 500) %></p>
					<small>
						<em>by: <%= link_to lead_widget.wid_user.nick, lead_widget.wid_user %></em> | 
						<%= lead_widget.published_at.to_s %> | 
						<%= link_to 'Source', widgetable_path_for(lead_widget.widgetable) %>
					</small>
				</div>
				<% content_tag(:ul, :id => 'msm_lead_follow_ups') do -%>
					<% lead_widget.widgetable.find_similars(3).each do |similar| -%>
						<li><%= link_to similar.name, similar %></li>
					<% end -%>
				<% end if !lead_widget.widgetable.tags.empty? -%>
			<% end -%>
		<% end -%>
		</div>
	
		<div id="msm_main_column-b">
			<h3>Latest News</h3>
			<% content_tag(:ul, :id => 'msm_other_main_widgets') do -%>
				<% @widgets.slice!(0..4).each do |wid| -%>
					<li><%= link_to wid.wid_name, widgetable_path_for(wid.widgetable) %></li>
					<%= render :partial => wid.wid_partial(@user.layout_path, :line), :object => wid.widgetable %>
				<% end -%>
			<% end if !@widgets.empty? -%>
		</div>
	
	</div>
	<div id="msm_side_column">
		<div class="msm_side_column-box">
			<div class="msm_side_column-box-inner">
				<h3>Friends</h3>
				<ul id="msm_friends">
					<%= render :partial => 'users/friend', :collection => @user.friends, :locals => { :tag => :li } %>
				</ul>
				<div class="msm_side_column-box-footer">
					<%= link_to 'View all Friends', friends_user_path(@user) %>
				</div>
			</div>
		</div>
		<div class="msm_side_column-box">
			
		</div>
		<div class="msm_side_column-box">
			
		</div>
	</div>
	<div id="msm_footer">
	
	</div>
</div>