<div id="debugger">
	<%= rounded_shim(:top) %>
	<p id="debugger-inner">
		COMMENT PATH: <%= comment_path_for(Comment.find(:first)) %><br />
		BLAH: <%= escape_javascript form_authenticity_token %><br />
		BLAH2: <%= request_forgery_protection_token %><br />
		THREMOTE: <%= link_to_remote 'hello', :url => user_path(User.find(1)), :update => 'browser', :loading => "var dog='fido'", :complete => "var citty = 'kitty'" %><br />
		The daily password: <%= @daily_pw %><br />
		referer var class: <%= controller.request.env["HTTP_REFERER"].class.to_s %><br />
		request url: <%= controller.request.url %><br />
		WHERE FROM?: <%= controller.request.env["HTTP_REFERER"] %><br />
		Request Host:<%= controller.request.host %><br />
		request Path: <%= controller.request.path %><br />
		previous: <%= controller.previous_view %><br />
		previous view: <%= session[:previous] %><br />
		before_login: <%= session[:before_login] %><br />
		Viewing as: <%= get_viewer.display_name rescue 'Nobody' %>
		<br />
		Class of main object: <%= main_object.class.class_name rescue nil %>: <%= main_object.display_name rescue nil %>
		<br />
		Main object's layout: <%= main_object.layout_name rescue nil %>
		<br />
		Main object's skin: <%= main_object.skin_file rescue nil %>
		<br />
		<%= yield :debugger %>
	</p>
	<%= rounded_shim(:bottom) %>
</div>