<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<title><%= APP[:name] %>: <%= @page_title || (main_object ? main_object.to_s : 'Welcome') %></title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<%= meta_tags %>
	<%= auto_discovery_link_tag(:rss, { :format => :rss }) if action_accepts?(:rss) %>
	<%= link_tags %>	
	<%= stylesheet_link_tag 'setup', 'main', 'modalbox', 'lightbox', :cache => 'base', :media => 'screen' %>
	<%= stylesheet_link_tag kropper_css if @use_kropper %>
	<%= yield :extra_stylesheets %>
	<% add_style_file(main_object.skin_file) if main_object && main_object.skin_file -%>
	<%= link_style_files %>

	<%= render :partial => 'shared/javascripts' unless @config[:scripts_at_bottom] %>
	
<% if print_scripts_block?(:top) -%>
	<script type="text/javascript">
	<%= extra_behaviors unless @config[:scripts_at_bottom] %>
	<%= extra_scripts(:top) %>
	</script>
<% end -%>
</head>
