<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= APP[:name] %>: <%= @page_title || (main_record ? main_record.to_s : 'Welcome') %></title>
	<% set_meta_keywords! 'blog', 'news', 'social' -%>
	<%= meta_tags %>
	<%# auto_discovery_link_tag if action_accepts?(:xml) %>
	<%= link_tags %>	
	<%= stylesheet_link_tag 'setup', 'main', 'modalbox', 'lightbox', :cache => 'base' %>
	<%= yield :extra_stylesheets %>
	<%= stylesheet_link_tag @skin_file if @skin_file %>

	<%= render :partial => 'shared/javascripts' unless @config[:scripts_at_bottom] %>
	
<% if print_scripts_block?(:top) -%>
	<script type="text/javascript">
	<%= extra_behaviors %>
	<%= extra_scripts(:top) %>
	</script>
<% end -%>
</head>
