<div class="navigation">
	<ul class="navigationList">
		<%= navi_el "Home", root_path %>
		<%= navi_el "Mine", user_path(viewer) if logged_in? %>
	<% if logged_in? -%>
		<%= navi_el "Inbox#{viewer.messages.unread.size > 0 ? " (#{viewer.messages.unread.size})" : ''}", messages_path %>
		<%= navi_el 'Preferences', edit_user_path(viewer) %>
	<% end %>
		<%= navi_el "About", about_path %>
		<%= navi_el "Help", help_path %>
	<% if logged_in? %>
		<li class="navigationEl last"><%= link_to 'Logout', logout_path %></li>
	<% else -%>
		<%= navi_el "Register", registration_path unless SITE[:defcon] == 0 || SITE[:disable_registration] %>
		<li class="navigationEl last"><%= link_to 'Login', login_path %></li>
	<% end -%>
	</ul>
</div>