<% set_meta_keywords!(@user.name_and_nick) -%>
<% set_link_author!(@user) -%>
<% add_style_file(@layoutable.skin_file) -%>
<div id="msm_layout" class="msm_layout">
	<div id="msm_header">
		<%= rounded_shim(:top) %>
		<div class="msm_row">
			<div class="msm_column msm_column-a">
				<span class="timestamp">updated by <%= @user.display_name %> at <%= @user.updated_at.to_s %></span>
				<h2><%= @user.name_and_nick %></h2>				
			</div>
			<div class="msm_column msm_column-b">
				
			</div>
		</div>
		<%= rounded_shim(:bottom) %>
	</div>
	
	<div id="msm_main_column" class="msm_column">
		<%= rounded_shim(:top) %>
		<div class="last msm_row" id="msm_row-1">
			<ul>
			<% @widgets.each do |wid| %>
				<li>
				<% form_for(:widget, wid, :url => place_user_widget_path(wid.to_path(:user)), :html => { :method => :put } ) do |f| %>
					( <%= wid.position || 'x' %> )
					<%= wid.display_name %> clipped <%= wid.widgetable.display_name %>
				<% if !wid.placed? %>
					<%= f.select :position, (1..10).map {|i| [i, i] } %>
					<%= f.submit 'Place' %>
				<% else %>
					<%= link_to 'Unplace', unplace_user_widget_path(wid.to_path(:user)), :method => :put %> | 
				<% end %>
					<%= link_to 'Delete', user_widget_path(wid.to_path(:user)), :method => :delete, :confirm => "Are you sure you want to delete this widget?" %>
				<% end %>
				</li>
			<% end %>
			</ul>
		</div>
		<%= rounded_shim(:bottom) %>
	</div>
	
	<div id="msm_side_column" class="msm_column">
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :google_ads %>
	<% end %>
	</div>
</div>