<% if article.primary_picture -%>
	<%= link_to picture_for(article, :with => { :class => 'msm_lead_picture' }) +
													caption_for(article.primary_picture),
							widgetable_path_for(article), :class => 'article_picture_link' %>
<% end %>
	<h2><%= link_to article.name, widgetable_path_for(article) %></h2>
	<p><%= format_article(article, :truncate => 300, :without_intro => true) %></p>
	<%= byline_for article %>
	<% content_tag(:ul, :id => 'msm_lead_follow_ups') do -%>
		<% article.find_similar(3).each do |similar| -%>
			<li><%= link_to similar.name, similar %></li>
		<% end -%>
	<% end if !article.tags.empty? -%>
