<% set_meta_keywords!(@author.display_name, @article.title, @article.blog.name) -%>
<% set_link_author!(@user) -%>

<% content_for :header do -%>
	<div class="msm_column msm_column-a">
		<span class="timestamp">updated by <%= @author.display_name %> at <%= @article.updated_at.to_s %></span>
		<h2><%= @page_title %></h2>
		<%= content_tag :h4, "Re: " + link_to("#{@article.original.display_name}", article_path_for(@article.original)) if @article.original %>
	</div>
	<div class="msm_column msm_column-b">
		<%= render :partial => 'tags/tags', :object => @article  %>
	</div>
<% end -%>	

<div class="last msm_row" id="msm_row-1">
	<%= render :partial => 'edit' %>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :thumbs unless @article.thumbs.empty? %>
		<%= framed.wrender :google_ads %>
		<%= framed.wrender 'blogs/latest_articles', :blog => @article.blog if @article.blog %>
	<% end %>
<% end -%>
