<% set_meta_keywords!(@author.display_name, @article.title, @article.blog.name) -%>
<% set_link_author!(@author) -%>

<% content_for :header do -%>
	<div class="msm_column msm_column-a">
		<% if @article.imported? %><span class="imported_at">imported at <%= @article.imported_at.to_s %></span><% end %>
		<span class="timestamp">updated by <%= @author.display_name %> at <%= @article.updated_at.to_s %></span>
		<h2><%= @page_title %></h2>				
	</div>
	<div class="msm_column msm_column-b">
		<%= digg_button %>
		<%= render :partial => 'tags/tags', :object => @article  %>
	</div>
<% end -%>	

<div class="last msm_row padded" id="msm_row-1">
	<%= render :partial => 'show' %>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :user %>
		<%= framed.wrender :thumbs if @article.primary_picture %>
		<%= framed.wrender :google_ads %>
		<%= framed.wrender 'blogs/latest_articles', :blog => @article.blog if @article.blog %>
	<% end %>
<% end -%>
