<% @no_top_shim, @no_bottom_shim = true, true -%>

<% content_for :header do -%>
	<div class="msm_column msm_column-a">
		<span class="timestamp">updated at <%= timestamp_for(@article.updated_at) %></span>
		<h2><%= @page_title + (@article.imported? ? ' (imported)' : '') %></h2>
		<%= content_tag :h4, "Re: " + link_to("#{@article.original.display_name}", article_path_for(@article.original)) if @article.original %>
	</div>
	<div class="msm_column msm_column-b">
		<%= digg_button %>
		<%= render :partial => 'tags/tags', :object => @article  %>
	</div>
<% end -%>

<% if @article.published? %>
<div class="msm_row innerpad" id="msm_row-1">
	<%= rounded_shim(:top) %>
	<div class="msm_row-content minimal">
		<%= render :partial => 'neighbors' %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>
<% end %>

<div class="msm_row innerpad" id="msm_row-2">
	<%= rounded_shim(:top) %>
	<div class="msm_row-content">
		<%= render :partial => 'show' %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>

<% if @article.published? %>
<div class="msm_row innerpad" id="msm_row-3">
	<%= rounded_shim(:top) %>
	<div class="msm_row-content minimal">
		<%= render :partial => 'neighbors' %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>

<div class="last msm_row innerpad" id="msm_row-4">
	<%= rounded_shim(:top) %>
	<div class="msm_row-content">
		<%= render :partial => 'comments' if @article.published? %>
		<% (@article.pictures - [@article.primary_picture]).each do |pic| -%>
			<%= link_to '', picture_path_for(pic), :rel => "lightbox[article_#{@article.id}]", :style => 'display: none;', :title =>  pic.caption %>
		<% end -%>
	</div>
	<%= rounded_shim(:bottom) %>
</div>
<% end %>
	
<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :user %>
		<%= framed.wrender :thumbs if @article.primary_picture %>
		<%= framed.wrender :original if @article.original %>
		<%= framed.wrender :responses unless @article.responses.empty? %>
		<%= framed.wrender :google_ads %>
		<%= framed.wrender 'blogs/latest_articles', :blog => @article.blog if @article.blog %>
	<% end %>
<% end -%>

<% content_for :footer do -%>
	<% with_options :locals => { :prefix => :footer } do |footer| %>
		<% content_tag :div, :class => 'footer-box' do -%>
			<%# render :partial => 'blogs', :object => @user.blogs[0..4], :locals => { :bloggable => @user, :prefix => :footer } %>
		<% end if false -%>
		
		<% content_tag :div, :class => 'footer-box' do -%>
			<%= render :partial => 'history', :locals => { :prefix => :footer_history } %>
		<% end -%>

		<% content_tag :div, :class => 'footer-box' do -%>
			<%= footer.render :partial => 'similar_articles', :object => @article.find_similar(5) %>
		<% end -%>

		<%# br_clear %>

	<% end %>
<% end -%>
