<% set_meta_keywords!(@user.display_name, 'galleries') -%>
<% set_link_author!(@user.display_name) -%>

<% content_for :header do -%>
	<div class="msm_column msm_column-a">
		<h2><%= @page_title %></h2>
	</div>
	<div class="msm_column msm_column-b">
		
	</div>
<% end -%>
	

<div class="msm_row" id="msm_row-1">
	<div id="msm_main_header">
		<span class="timestamp">Timestamp: <%= Time.now.to_s %></span>
	</div>

	<div class="msm_main_column-a msm_main_column nopad">
		<%= render :partial => 'gallery',
		 					 :layout => wayout(:lead_widget),
		 					 :object => @galleries[0] if @galleries[0] %>
	</div>

	<div class="msm_main_column-b msm_main_column">
		<% collection = @galleries[1..7].map{|bl| bl.primary_article}.compact rescue [] %>
		<%= render :partial => custom_partial('latest_galleries'),
		 					 :layout => wayout(:inner),
		 					 :locals => { :user => @user,
														:collection => collection } unless collection.blank? %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>

<div class="msm_row" id="msm_row-2">
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'gallery',
							 :layout => wayout(:widget),
							 :object => @galleries[1]) if @galleries[1] %>
	</div>
</div>

<div class="msm_row nobg" id="msm_row-3">
	<div class="msm_main_column-a msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'gallery',
							 :layout => wayout(:widget),
							 :object => @galleries[2]) if @galleries[2] %>
	</div>
	
	<div class="msm_main_column-b msm_main_column nopad">
		<%= render(:partial => 'galleries',
							 :layout => wayout(:framed),
							 :object => @galleries[3]) if @galleries[3] %>
	</div>
	<%= br_clear %>
</div>

<div class="last msm_row" id="msm_row-4">
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'gallery',
							 :layout => wayout(:widget),
							 :object => @galleries[4]) if @galleries[4] %>
	</div>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => wayout(:framed) do |framed| %>
		<%= framed.render :partial => custom_partial('ads/google_ads') %>
		<%= framed.render :partial => custom_partial('ads/google_ads') %>
	<% end %>
<% end -%>
