<% set_meta_keywords!(@user.display_name, 'thoughtlets') -%>
<% set_link_author!(@user.display_name) -%>

<% content_for :header do -%>
	<div class="msm_row">
		<div class="msm_column msm_column-a">
			<h2><%= @page_title %></h2>
		</div>
		<div class="msm_column msm_column-b">
			
		</div>
	</div>
<% end -%>	

<div class="msm_row" id="msm_row-1">
	<div id="msm_main_header">
		<span class="timestamp">Timestamp: <%= Time.now.to_s %></span>
	</div>

	<div class="msm_main_column-a msm_main_column nopad">
		<%= render :partial => 'thoughtlet',
		 					 :layout => custom_partial('lead_widget'),
		 					 :object => @thoughtlets[0] if @thoughtlets[0] %>
	</div>

	<div class="msm_main_column-b msm_main_column">
		<%= render :partial => 'users/latest_thoughtlets',
		 					 :layout => custom_partial('inner'),
		 					 :object => @user.latest_thoughtlets,
		 					 :locals => { :user => @user } unless @user.latest_thoughtlets.blank? %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>

<div class="msm_row" id="msm_row-2">
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'thoughtlet',
							 :layout => custom_partial('widget'),
							 :object => @thoughtlets[1]) if @thoughtlets[1] %>
	</div>
</div>

<div class="msm_row nobg" id="msm_row-3">
	<div class="msm_main_column-a msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'thoughtlet',
							 :layout => custom_partial('widget'),
							 :object => @thoughtlets[2]) if @thoughtlets[2] %>
	</div>
	
	<div class="msm_main_column-b msm_main_column nopad">
		<%= render(:partial => 'thoughtlet',
							 :layout => custom_partial('framed'),
							 :object => @thoughtlets[3]) if @thoughtlets[3] %>
	</div>
	<%= br_clear %>
</div>

<div class="last msm_row" id="msm_row-4">
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'thoughtlet',
							 :layout => custom_partial('widget'),
							 :object => @thoughtlets[4]) if @thoughtlets[4] %>
	</div>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => custom_partial('framed') do |framed| %>
		<%= framed.render :partial => custom_partial('ads/google_ads') %>
		<%= framed.render :partial => custom_partial('ads/google_ads') %>
	<% end %>
<% end -%>
