<% set_meta_keywords!(@blog.name, 'blog', 'articles') -%>
<% set_link_author!(@blog.bloggable.display_name) -%>

<% content_for :header do -%>
	<div class="msm_column msm_column-a">
		<h2><%= @page_title %></h2>
		<h4>by <%= @blog.bloggable.display_name %></h4>				
	</div>
	<div class="msm_column msm_column-b">
		<%= @blog.tags.map(&:to_s).join(', ') %>
	</div>
<% end -%>	

<div class="msm_row" id="msm_row-1">
	<%= render :partial => 'edit' %>
</div>
	

<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :google_ads %>
		<%= framed.wrender :description %>
		<%= framed.wrender :bloggable %>
		<%= framed.wrender :google_ads %>
	<% end %>
<% end -%>
