<% set_meta_keywords!(@bloggable.display_name, 'blog', 'articles') -%>
<% set_link_author!(@bloggable.display_name) -%>

<% content_for :header do -%>
	<div class="msm_row">
		<div class="msm_column msm_column-a">
			<h2><%= @page_title %></h2>
		</div>
		<div class="msm_column msm_column-b">
			
		</div>
	</div>
<% end -%>
	

<div class="msm_row" id="msm_row-1">
	<div id="msm_main_header">
		<span class="timestamp">Timestamp: <%= Time.now.to_s %></span>
	</div>

	<div class="msm_main_column-a msm_main_column nopad">
		<%= render :partial => 'blog_lead',
		 					 :layout => wayout(:lead_widget),
		 					 :object => @blogs[0] if @blogs[0] %>
	</div>

	<div class="msm_main_column-b msm_main_column">
		<% collection = @blogs[1..7].map{|bl| bl.primary_article}.compact rescue [] %>
		<%= render :partial => 'latest_blogs',
		 					 :layout => wayout(:inner),
		 					 :locals => { :bloggable => @bloggable,
														:collection => collection } unless collection.blank? %>
		<%= wrender :blogs, :layout => wayout(:inner) %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>

<div class="msm_row" id="msm_row-2">
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'blog',
							 :layout => wayout(:widget),
							 :object => @blogs[1]) if @blogs[1] %>
	</div>
</div>

<div class="msm_row<% if @blogs[3] %> nobg<% end %>" id="msm_row-3">
	<div class="msm_main_column-a<%= 'b' unless @blogs[3] %> msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'blog',
							 :layout => wayout(:widget),
							 :object => @blogs[2]) if @blogs[2] %>
	</div>
	
	<% content_tag :div, :class => "msm_main_column-b msm_main_column nopad" do -%>
		<%= render(:partial => 'blog',
							 :layout => wayout(:framed),
							 :object => @blogs[3]) %>
	<% end if @blogs[3] %>
	
	<%= br_clear if @blogs[3] %>
</div>

<div class="last msm_row" id="msm_row-4">
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'blog',
							 :layout => wayout(:widget),
							 :object => @blogs[4]) if @blogs[4] %>
	</div>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => wayout(:framed) do |framed| %>
		<%= framed.render :partial => 'ads/google_ads' %>
		<%= framed.render :partial => 'bloggable', :object => @bloggable %>
		<%# framed.render :partial => custom_partial('blogs/comments') %>
		<%= framed.render :partial => 'ads/google_ads' %>
	<% end %>
<% end -%>
