<% set_meta_keywords!(@bloggable.display_name, 'blog', 'articles') -%>
<% set_link_author!(@bloggable.display_name) -%>
<% add_style_file(@layoutable.skin_file) -%>

<% content_for :header do -%>
	<div class="msm_row">
		<div class="msm_column msm_column-a">
			<h2><%= @page_title %></h2>
		</div>
		<div class="msm_column msm_column-b">
			
		</div>
	</div>
<% end -%>
	

<div class="msm_row" id="msm_row-1">
	<div id="msm_main_header">
		<span class="timestamp">Timestamp: <%= Time.now.to_s %></span>
	</div>

	<div class="msm_main_column-a msm_main_column nopad">
		<%= render :partial => 'blog',
		 					 :layout => custom_partial('lead_widget'),
		 					 :object => @blogs[0] if @blogs[0] %>
	</div>

	<div class="msm_main_column-b msm_main_column">
		<% collection = @blogs[1..7].map{|bl| bl.primary_article}.compact rescue [] %>
		<%= render :partial => custom_partial('latest_blogs'),
		 					 :layout => custom_partial('inner'),
		 					 :locals => { :bloggable => @bloggable,
														:collection => collection } unless collection.blank? %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>

<div class="msm_row" id="msm_row-2">
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'blog',
							 :layout => custom_partial('widget'),
							 :object => @blogs[1]) if @blogs[1] %>
	</div>
</div>

<div class="msm_row nobg" id="msm_row-3">
	<div class="msm_main_column-a msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'blog',
							 :layout => custom_partial('widget'),
							 :object => @blogs[2]) if @blogs[2] %>
	</div>
	
	<div class="msm_main_column-b msm_main_column nopad">
		<%= render(:partial => 'blog',
							 :layout => custom_partial('framed'),
							 :object => @blogs[3]) if @blogs[3] %>
	</div>
	<%= br_clear %>
</div>

<div class="last msm_row" id="msm_row-4">
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'blog',
							 :layout => custom_partial('widget'),
							 :object => @blogs[4]) if @blogs[4] %>
	</div>
</div>
	
<% content_for :side_column do -%>
	<% with_options :layout => custom_partial('framed') do |framed| %>
		<%= framed.render :partial => custom_partial('ads/google_ads') %>
		<%= framed.render :partial => 'bloggable', :object => @bloggable %>
		<%# framed.render :partial => custom_partial('blogs/comments') %>
		<%= framed.render :partial => custom_partial('ads/google_ads') %>
	<% end %>
<% end -%>
