<% add_meta_keyword!(@bloggable.display_name) -%>
<% set_link_author!(@bloggable.display_name) -%>
<% add_style_file(@layoutable.skin_file) -%>
<div id="msm_layout" class="msm_layout">
	<div id="msm_header">
		<%= rounded_shim(:top) %>
		<div class="msm_row">
			<div class="msm_column msm_column-a">
				<span class="timestamp">Time: <%= Time.now.to_s %></span>
				<h2><%= @page_title %></h2>				
			</div>
			<div class="msm_column msm_column-b">

			</div>
		</div>
		<%= rounded_shim(:bottom) %>
	</div>
	
	<div id="msm_main_column" class="msm_column">
		<%= rounded_shim(:top) %>
		<div class="last msm_row" id="msm_row-1">
			<%= render :partial => 'blogs/new' %>
		</div>
		<%= rounded_shim(:bottom) %>
	</div>
	
	<div id="msm_side_column" class="msm_column">
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :bloggable %>
		<%= framed.wrender :pictures %>
		<%= framed.wrender :google_ads %>
	<% end %>
	</div>
</div>