<% set_meta_keywords!(@blog.name, 'blog', 'articles') -%>
<% set_link_author!(@blog.bloggable.display_name) -%>
<% @no_bottom_shim = true %>

<% content_for :header do -%>
	<div class="msm_column msm_column-a">
		<%# picture_for(@blog) %>
		<h2><%= @page_title %></h2>
		<h4>by <%= link_to @blog.bloggable.display_name, @blog.bloggable %></h4>
		<p><%=h @blog.description %></p>
	</div>
	<div class="msm_column msm_column-b">
		<%= render :partial => 'tags/tags', :object => @blog  %>
	</div>
<% end -%>
	
<div class="msm_row" id="msm_row-1">
	<div id="msm_main_header">
		<span class="timestamp">updated at <%= @blog.updated_at.to_s %></span>
	</div>

<% @wcount = 0 %>
	<div class="msm_main_column-a msm_main_column nopad" id="msm_lead_column">
		<%= render :partial => 'articles/article_lead',
		 					 :layout => wayout(:lead_widget),
		 					 :locals => { :article_lead => @articles[0] } if @articles[0] %>
	</div>

<% @wcount = 1 %>
	<div class="msm_main_column-b msm_main_column" id="msm_non_lead_column">
		<%= wrender :latest_articles, :layout => :inner %>
		<%= wrender :popular_articles, :layout => :inner %>
	</div>
	<% add_scripts do -%>
		Event.onReady(function(){ msm_layout.equalizeColumnHeights('msm_lead_column', 'msm_non_lead_column'); });
	<% end -%>
	
	<%= rounded_shim(:bottom) %>
</div>

<% @wcount = 3 %>
<% content_tag :div, :class => "msm_row#{' nobg' if @articles[2]}", :id => "msm_row-2" do -%>
	<div class="msm_main_column-a<%= 'b' unless @articles[2] %> msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'articles/article',
							 :layout => wayout(:framed),
							 :object => @articles[1]) %>
	</div>

<% @wcount = 4 %>
	<% content_tag :div, :class => "msm_main_column-b msm_main_column nopad" do -%>
		<%= render(:partial => 'articles/article',
							 :layout => wayout(:widget),
							 :object => @articles[2]) %>
	<% end if @articles[2] -%>
	
	<%# TODO: do this after layoutable module is ready so that wrender can work here and increase dom_ids with wcount %>
	<% add_scripts do -%>
		Event.onReady(function(){ msm_layout.equalizeWidgetHeights('msm_widget-3', 'msm_widget-4'); });
	<% end if @articles[2] -%>

	<%= br_clear %>
<% end if @articles[1] -%>

<% @wcount = 5 %>
<% content_tag :div, :class => 'last msm_row', :id => 'msm_row-3' do -%>
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'articles/article',
							 :layout => wayout(:widget),
							 :object => @articles[4]) %>
	</div>
<% end if @articles[4] -%>
	
<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%# framed.wrender :description # Description moved to header %>
		<% @wcount = 6 %>
		<%= framed.wrender :bloggable %>
		<%# @wcount = 7 %>
		<%# framed.wrender :latest_pictures unless @blog.pictures.empty? %>
		<% @wcount = 7 %>
		<%= render :partial => 'articles/article', :object => @articles[3], :layout => wayout(:framed) if @articles[3] %>
		<%# framed.wrender :comments, :blog => @blog # BLOG comments will show on Blog About page if there is one. %>
		<% @wcount = 8 %>
		<%= framed.wrender :google_ads %>
	<% end %>
<% end -%>

<% content_for :footer do -%>
	<%= render :partial => 'browse_by_month' %>
<% end -%>
