<% set_meta_keywords!(@blog.name, 'blog', 'articles') -%>
<% set_link_author!(@blog.bloggable.display_name) -%>
<% @no_bottom_shim = true %>

<% content_for :header do -%>
	<div class="msm_column msm_column-a">
		<h2><%= @page_title %></h2>
		<h4>by <%= link_to @blog.bloggable.display_name, @blog.bloggable %></h4>
	</div>
	<div class="msm_column msm_column-b">
		<%= picture_for(@blog) %>
	</div>
<% end -%>
	
<div class="msm_row" id="msm_row-1">
	<div id="msm_main_header">
		<span class="timestamp">updated at <%= @blog.updated_at.to_s %></span>
	</div>

	<div class="msm_main_column-a msm_main_column nopad">
		<%= render :partial => 'articles/article_lead',
		 					 :layout => wayout(:lead_widget),
		 					 :locals => { :article_lead => @articles[0] } if @articles[0] %>
	</div>

	<div class="msm_main_column-b msm_main_column">
		<%= wrender :latest_articles, :layout => :inner %>
	</div>
	<%= rounded_shim(:bottom) %>
</div>

<% content_tag :div, :class => 'msm_row', :id => 'msm_row-2' do -%>
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render :partial => 'browse_by_month', :layout => wayout(:widget) %>
	</div>
<% end -%>

<% content_tag :div, :class => "msm_row#{' nobg' if @articles[2]}", :id => "msm_row-3" do -%>
	<div class="msm_main_column-a<%= 'b' unless @articles[2] %> msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'articles/article',
							 :layout => wayout(:widget),
							 :object => @articles[1]) %>
	</div>
	
	<% content_tag :div, :class => "msm_main_column-b msm_main_column nopad" do -%>
		<%= render(:partial => 'articles/article',
							 :layout => wayout(:framed),
							 :object => @articles[2]) %>
	<% end if @articles[2] -%>

	<%= br_clear %>
<% end if @articles[1] -%>

<% content_tag :div, :class => 'last msm_row', :id => 'msm_row-4' do -%>
	<div class="msm_main_column-ab msm_main_column msm_with_reg_wid">
		<%= render(:partial => 'articles/article',
							 :layout => wayout(:widget),
							 :object => @articles[3]) %>
	</div>
<% end if @articles[3] -%>
	
<% content_for :side_column do -%>
	<% with_options :layout => :framed do |framed| %>
		<%= framed.wrender :description %>
		<%= framed.wrender :bloggable %>
		<%= framed.wrender :latest_pictures unless @blog.pictures.empty? %>
		<%= framed.wrender :comments, :blog => @blog %>
		<%= framed.wrender :google_ads %>
	<% end %>
<% end -%>
