<% if RAILS_ENV == 'development' %>

	<h4><span class="articleBlog">RSS:</span>From <a href="http://cdmjimmy.blogspot.com/">[Something Witty]</a> by James</h4>
	<h3><a href="http://cdmjimmy.blogspot.com/2008/03/in-two-weeks-and-two-days.html">In Two Weeks And Two Days,</a></h3>
	<p class="articleContent">
		I'll be home, in California again.<a href="http://bp3.blogger.com/_lUeWypH_FWU/R92LQm8y8rI/AAAAAAAAAsw/VXWEKrqjpgo/s1600-h/Huntington+Beach.jpg"><img src="http://bp3.blogger.com/_lUeWypH_FWU/R92LQm8y8rI/AAAAAAAAAsw/VXWEKrqjpgo/s320/Huntington+Beach.jpg" alt="" /></a>Not for good mind you, but it will be for the longest period since I left. A psuedo-vacation, if you will, since I'll be working at UCLA by day, and gallivanting around my old stomping grounds at night.I'm shocked, really. I can't believe I'm leaving. While I never felt completely comfortable <a href="http://cdmjimmy.blogspot.com/2008/03/when-i-grow-up.html">here</a>, I managed to find less and less to complain about-- some might even call it "adjusting." My experiences ranged from the mundane to the absurd, and while I never want to come back-- well, you can insert your favorite "life lessons" cliché [here]. Take a look at <a href="http://cdmjimmy.blogspot.com/2007/07/oil-and-water.html">one</a> of my first entries in T...
	</p>
	<small>
		by: James | 
		Sun, 16 Mar 2008 14:07:00 -0700 | 
		<a href="http://cdmjimmy.blogspot.com/2008/03/in-two-weeks-and-two-days.html">Source</a>
	</small>
	
<% else %>

	<% feed_item = parseFeed(url) %>
	<h3><span class="articleBlog">RSS:</span>From <%= link_to feed_item.feed_title, feed_item.feed_link %> by <%= feed_item.item_author %></h3>
	<h4><%= link_to feed_item.item_title, feed_item.item_link %></h4>
	<p class="articleContent">
		<%= truncate sanitize(feed_item.item_content, :tags => %w(a img)), 1000 %>
	</p>
	<%= byline_for feed_item %>
	
<% end %>