<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us" dir="ltr">
<%= render :partial => 'shared/head' %>
<% body_tag_for(main_object, :onload => @onloads) do %>
	<%= render :partial => 'shared/skiplinks' %>
	<% content_tag(:div, :id => 'wrapper') do %>
		<%= render :partial => 'shared/header' %>
		<% content_tag(:div, :id => 'canvas', :class => get_canvas_class) do %>
			<% content_for :before_scripts do -%>
				<script type="text/javascript">
					var msm_layout = new MsmLayout();
				</script>
			<% end -%>
			
			<a name="navigation"></a>
			<div class="sub navigation">
				<ul class="navigationList">
					<%= render :partial => flash[:warning] ? 'shared/subnavigation_error' : 'subnavigation' %>
					<%= navi_skin_info %>
					<%= navi_customize(user_widgets_path(@user.to_path(true))) if @user && @user.editable_by?(get_viewer) %>
				</ul>
			</div>
			<%= warning_field %>
			<%= notice_field %>
			<a name="content"></a>
			<div id="msm_layout" class="msm_layout">
				<%= debug_module %>
			<% if @content_for_header %>
				<div id="msm_header">
					<%= rounded_shim(:top) %>
					<div class="msm_row">
						<%= yield :header %>
						<%= br_clear %>
					</div>
					<%= rounded_shim(:bottom) %>
				</div>
			<% end %>
	
				<div id="msm_main_column" class="msm_column">
					<%= rounded_shim(:top) unless @no_top_shim %>
					<%= yield %>
					<%= rounded_shim(:bottom) unless @no_bottom_shim || controller.action_name == 'index' %>
				</div>
	
				<div id="msm_side_column" class="msm_column">
					<%= yield :side_column %>
				</div>
				<% add_scripts do -%>
					Event.onReady(function(){ msm_layout.equalizeColumnHeights('msm_main_column', 'msm_side_column'); });
				<% end -%>
				
				<a name="footer"></a>
			<% if @content_for_footer %>
				<div id="msm_footer">
					<%= rounded_shim(:top) %>
					<div id="msm_footer-inner">
						<%= yield :footer %>
						<%# render :partial => 'footer' %>
					</div>
					<%= rounded_shim(:bottom) %>
				</div>
			<% end %>
			</div>

		<% end %>
		<%= render :partial => 'shared/footer' %>
	<% end %>
	<%= render :partial => 'shared/foot' %>
<% end %>
</html>