<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= render :partial => 'shared/head' %>
<% body_tag_for(main_object, :onload => @onloads) do %>
	<% content_tag(:div, :id => 'wrapper') do %>
		<%= render :partial => 'shared/header' %>
		<% content_tag(:div, :id => 'canvas', :class => get_canvas_class) do %>
			<div class="sub navigation">
				<ul class="navigationList">
					<%= render :partial => flash[:warning] ? 'shared/subnavigation_error' : 'subnavigation' %>
					<%= navi_skin_info %>
					<%= navi_customize(user_widgets_path(@user.to_path(true))) if @user && @user.editable_by?(get_viewer) %>
				</ul>
			</div>
			<%= warning_field %>
			<%= notice_field %>

			<div id="standard_layout" class="standard_layout">
				<%= debug_module %>
				<%= yield %>
			</div>
		<% end %>
		<%= render :partial => 'shared/footer' %>
	<% end %>
	<%= render :partial => 'shared/foot' %>
<% end %>
</html>